@page
@model ARS_FE.Pages.Staff.AirplaneManagement.CreateModel

@{
    Layout = "_LayoutManage";
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Airplane</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Airplane.Code" class="control-label"></label>
                <input asp-for="Airplane.Code" class="form-control" />
                <span asp-validation-for="Airplane.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Airplane.Type" class="control-label"></label>
                <input asp-for="Airplane.Type" class="form-control" />
                <span asp-validation-for="Airplane.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Airplane.AvailableSeat" class="control-label"></label>
                <input asp-for="Airplane.AvailableSeat" class="form-control" />
                <span asp-validation-for="Airplane.AvailableSeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Airplane.AirlinesId" class="control-label"></label>
                <select asp-for="Airplane.AirlinesId" class ="form-control" asp-items="ViewBag.AirlinesId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Airplane.Status" class="control-label"></label>
                <input asp-for="Airplane.Status" class="form-control" />
                <span asp-validation-for="Airplane.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
