@page
@model ARS_FE.Pages.Staff.AirplaneManagement.CreateModel
@{
    Layout = "_LayoutManage";
    ViewData["Title"] = "Create Airplane";
}

<h2>Create Airplane</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Airplane.CodeNumber" class="control-label"></label>
        <input asp-for="Airplane.CodeNumber" class="form-control" />
        <span asp-validation-for="Airplane.CodeNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Airplane.AirlinesId" class="control-label">Airline</label>
        <select asp-for="Airplane.AirlinesId" class="form-control" asp-items="@(ViewData["AirlinesId"] as IEnumerable<SelectListItem>)"></select>
        <span asp-validation-for="Airplane.AirlinesId" class="text-danger"></span>
    </div>

    <!-- Trường nhập số lượng ghế cho từng loại ghế -->
    <div class="form-group">
        <label>Business</label>
        <input asp-for="Airplane.AirplaneSeatRequest[0].SeatCount" class="form-control" type="number" min="1" required />
        <input type="hidden" asp-for="Airplane.AirplaneSeatRequest[0].SeatClassId" />
    </div>

    <div class="form-group">
        <label>Economy</label>
        <input asp-for="Airplane.AirplaneSeatRequest[1].SeatCount" class="form-control" type="number" min="1" required />
        <input type="hidden" asp-for="Airplane.AirplaneSeatRequest[1].SeatClassId" />
    </div>

    <div class="form-group">
        <label>FirstClass</label>
        <input asp-for="Airplane.AirplaneSeatRequest[2].SeatCount" class="form-control" type="number" min="1" required />
        <input type="hidden" asp-for="Airplane.AirplaneSeatRequest[2].SeatClassId" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>
