@page
@model ARS_FE.Pages.Admin.IndexModel
@{
    Layout = "_LayoutAdmin";
}

<div class="container mt-4">
    <h1>Welcome to Staff Management</h1>
    <div class="mb-4">
        <a class="btn btn-primary" asp-page="./UserManagement/Index">User Management</a>
        <a class="btn btn-primary" asp-page="./RankManagement/Index">Rank Management</a>
        <a class="btn btn-primary" asp-page="./BookingManagement/Index">Booking Management</a>
    </div>
</div>
